.mibok-consent-text{ white-space: pre-line;text-align: left;font-size: 13px;height: 270px;position: relative;}
label[for=iblock_consent]{display: inline-block;width: calc(100% - 27px);vertical-align: top;margin-left: 10px;font-size: .8rem;color: #fff;font-weight: normal;}
#iblock_consent{display: inline-block;width: 15px;height: 15px;margin-top:0;}
label[for=iblock_consent]:hover{cursor: pointer; text-decoration: underline;}
.btn-default.active, .btn-default:active, .btn-default:hover, .open>.dropdown-toggle.btn-default{color: #333;background-color: #efefef;border-color: #ccc;}
#myModalConsent .modal-header h4{color:#333;}
@media (min-width: 768px)
{
    #myModalConsent .modal-dialog {width: 600px !important;}
}