[class^="svg-"] {width: 130px; height: 130px;display: inline-block;background-repeat: none;}

.svg-teambuilding {background-image: url('svg/teambuilding.png');}
.svg-corporate_leadership {background-image: url('svg/corporate_leadership.png');}
.svg-teambuilding_training {background-image: url('svg/teambuilding_training.png');}
.svg-sales {background-image: url('svg/sales.png');}
.svg-increase_sales {background-image: url('svg/increase_sales.png');}
.svg-method_coordinat {background-image: url('svg/method_coordinat.png');}
.svg-communic_customers {background-image: url('svg/communic_customers.png');}
.svg-customer_search {background-image: url('svg/customer_search.png');}
.svg-keep_customer {background-image: url('svg/keep_customer.png');}
.svg-training_managers {background-image: url('svg/training_managers.png');}
.svg-business_thinking {background-image: url('svg/business_thinking.png');}
.svg-increase_motivation {background-image: url('svg/increase_motivation.png');}
.svg-business_scratch {background-image: url('svg/business_scratch.png');}
.svg-conflict_resolution {background-image: url('svg/conflict_resolution.png');}
.svg-leadership {background-image: url('svg/leadership.png');}
.svg-business_lady {background-image: url('svg/business_lady.png');}
.svg-time_management {background-image: url('svg/time_management.png');}
.svg-time_planning {background-image: url('svg/time_planning.png');}
.svg-balance_life {background-image: url('svg/balance_life.png');}
.svg-combining_study_career {background-image: url('svg/combining_study_career.png');}
.svg-anti_stress {background-image: url('svg/anti_stress.png');}
.svg-self_confidence {background-image: url('svg/self_confidence.png');}
.svg-increasing_self_esteem {background-image: url('svg/increasing_self_esteem.png');}
.svg-remote_work {background-image: url('svg/remote_work.png');}
.svg-oratory {background-image: url('svg/oratory.png');}
.svg-hls {background-image: url('svg/hls.png');}
.svg-slimming {background-image: url('svg/slimming.png');}
.svg-healthy_eat {background-image: url('svg/healthy_eat.png');}
.svg-massage {background-image: url('svg/massage.png');}
.svg-travel_no_agency {background-image: url('svg/travel_no_agency.png');}
.svg-training {background-image: url('svg/training.png');}
.svg-bookkeeping {background-image: url('svg/bookkeeping.png');}
.svg-courses_1с {background-image: url('svg/courses_1с.png');}
.svg-taxation {background-image: url('svg/taxation.png');}
.svg-programming {background-image: url('svg/programming.png');}
.svg-foreign_language {background-image: url('svg/foreign_language.png');}
.svg-training_trainers {background-image: url('svg/training_trainers.png');}
.svg-training_teenagers {background-image: url('svg/training_teenagers.png');}
.svg-study_abroad {background-image: url('svg/study_abroad.png');}
.svg-orienteering {background-image: url('svg/orienteering.png');}
.svg-sports_training {background-image: url('svg/sports_training.png');}
.svg-makeup {background-image: url('svg/makeup.png');}
.svg-tattooing {background-image: url('svg/tattooing.png');}
.svg-stylist {background-image: url('svg/stylist.png');}
.svg-manicure {background-image: url('svg/manicure.png');}
.svg-artistic_tattoo {background-image: url('svg/artistic_tattoo.png');}
.svg-sewing_courses {background-image: url('svg/sewing_courses.png');}
.svg-costume_design {background-image: url('svg/costume_design.png');}
.svg-courses_painting {background-image: url('svg/courses_painting.png');}
.svg-hand_made {background-image: url('svg/hand_made.png');}
.svg-interior {background-image: url('svg/interior.png');}
.svg-photography {background-image: url('svg/photography.png');}

